<html xml:lang="en" lang="en">
<head>
<title>Status Report</title>
<style type="text/css" media="screen">
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 10px;
}
h2 {
  font-size: 16pt;
  color: #4B75B9;
  margin-top: 25px;
  margin-bottom: 7px;
  border-bottom: 1px solid #4B75B9;
}
p,div,table,td,tr {
  margin: 0px;
}

table {
  font-size: 10pt;
}
td.tag {
  padding: 3px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  background-color: #D5E0F1;
}
tr.stat {
  height: 40px;
}
td.fname {
  padding: 5px;
  background-color: #D5E0F1;
}
td.stat {
  padding: 3px;
  width: 100px;
}
td.stat p {
  padding: 1px;
  margin: 1px;
}
.stat_pass {
  background-color: #81D674;
}
.stat_fail {
  background-color: #E38692;
}
.stat_none {
  background-color: #E0E0E0;
  color: #999;
  text-align: center;
}
.stat_notags {
  background-color: #F0F0F0;
  color: #555;
  border: 1px solid #AAA;
}

.stat_notyet {
  background-color: #EBF182;
}
div.detail {
  margin: 10px;
}
div.detail div {
  margin: 3px;
  padding: 6px;
}
div.detail div h3 {
  margin: 3px;
  padding: 0px;
}
div.detail p {
  margin: 2px;
  padding: 0px;
}
.hide {
  display: none;
}
div.env p {
  margin: 3px;
}
span.btn {
  border: 2px solid #8BA7D5;
  font-weight: bold;
  padding: 2px;
  color: #8BA7D5;
  font-size: 10pt;
}
#menu div {
  position: relative;
}

.arrow_box {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  top: -10px;
  left: 25px; 
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}


</style>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<h1>S&C Service for Docker Cloud: Compliance Status Report</h1>
<div id="vars" class="hide">
</div>
<h2>Results (as of <%= Time.now.strftime("%e %b %Y %H:%M:%S%p %Z") %>)</h2>
<h3><a href="./vulnerability">Go to Vulnerability Report</a></h3>
<table><thead><tr>
<td class="tag">Image ID</td>
<td class="tag">Container ID</td>
<td class="tag">Created</td>
<% columns.each do |script_path| %>
<td class="tag">
  <span><%= script_path.split('.')[2] %></span>
  <p class="arrow_box"><%= 
{
    "1-1-a" => "UID must be used only once",
    "2-1-b" => "Maximum password age",
    "2-1-c" => "minimum password length",
    "2-1-d" => "minimum days before password change",
    "2-1-e" => "prevent password reuse",
    "3-1-a" => "motd file checking",
    "3-2-b" => "UMASK value 077 in /etc/login.defs",
    "3-2-e" => "/etc/profile",
    "3-2-f" => "/etc/csh.login",
    "5-1-a" => "Read/write access of ~root/.rhosts only by root",
    "5-1-b" => "Read/write access of ~root/.netrc only by root",
    "5-1-d" => "permission check of /usr",
    "5-1-e" => "permission check of /etc",
    "5-1-f" => "permission check of /etc/security/opasswd",
    "5-1-g" => "permission check of /etc/shadow",
    "5-1-h" => "permission check of /etc/profile.d/IBMsinit.sh",
    "5-1-i" => "permission check of /etc/profile.d/IBMsinit.sh",
    "5-1-j" => "permission check of /var",
    "5-1-k" => "permission check of /var/tmp",
    "5-1-l" => "permission check of /var/log",
    "5-1-m" => "permission check of /var/log/faillog",
    "5-1-n" => "permission check of /var/log/tallylog",
    "5-1-o" => "permission check of /var/log/syslog or /var/log/messages",
    "5-1-p" => "permission check of /var/log/wtmp",
    "5-1-q" => "permission check of /var/log/auth.log or /var/log/secure",
    "5-1-r" => "permission check of /tmp",
    "5-1-s" => "permission check of snmpd.conf",
    "5-2-c" => "enforce default no access policy",
    "5-2-d" => "ftp access restriction",
    "6-1-a" => "syslog file checking",
    "6-1-b" => "messages file checking",
    "6-1-c" => "syslog file checking",
    "6-1-d" => "wtmp file checking",
    "6-1-e" => "faillog file checking",
    "6-1-f" => "tallylog file checking",
    "6-1-g" => "secure or auth file checking",
    "8-0-o" => "no_hosts_equiv must be present",
    "8-0-u" => "net.ipv4.tcp_syncookies =1",
    "8-0-v" => "net.ipv4.icmp_echo_ignore_broadcasts = 1",
    "8-0-w" => "net.ipv4.conf.all.accept_redirects = 0"
}[script_path.split('.')[2]]
    %></p>
</td>
<% end %>
</tr></thead>
<% system_status.each do |image_id, image_status| 
     num_container = image_status.size
     first_row = true
%>
<tbody>
<%
     image_status.sort_by { |cs| cs['created'] }.each do |container_status| 
       docker_container_id = container_status['docker_container_id']
       created = container_status['created']


    %> 
    <tr class="stat">
    <% if first_row %>
    <td class="fname" rowspan="<%= num_container %>">
      <p><%= image_id %></p>
      <p>created : <%= image_created[image_id] %></p>
      <p>parent : <%= pedigree[image_id[0,12]] ? pedigree[image_id[0,12]] : "" %></p>
      <p>name : <%= image_names[image_id] %></p>
    </td>
    <% 
       first_row=false
    end %>
    <td class="fname">
      <span><%=docker_container_id %></span>
    </td>
    <td class="fname">
      <span><%= created %></span>
    </td>
    <% columns.each do |script_path| 
         cs = cells[docker_container_id]
         if cs
           rrr = cs[script_path]
          else
            rrr = nil
          end
         if rrr
            cell = rrr['status']
            cell_id = rrr['id']
          else
            cell = 'N/A'
            cell_id = "" 
          end
          class_value = "stat"
          case cell
          when 'PASS' then
            class_value << ' stat_pass'
          when 'FAIL' then
            if rrr['output'] =~ /^data is not available in cloudsight/ ||
              rrr['output'] =~ /^no crawled data available for this namespace/ 
              class_value << ' stat_notyet'  
            else
              class_value << ' stat_fail'
            end
          else
            class_value << ' stat_none'
          end
    %>
    <td id="<%= cell_id %>" class="<%= class_value %>">
    <span><%= cell %></span>
    <p class="arrow_box"><%=rrr %></p>
    </td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
<% end %>
</table>
</body>
<script>
$(function () {
  $('span').hover(function() {
    $(this).next('p').show();
  }, function(){
    $(this).next('p').hide();
  });
});
</script>
</html>
